<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="/resource/gt.js"></script>
 
  <title>Document</title>
<link href="/public/main.cfb6a33ec3acb2bf85bd.css" rel="stylesheet"></head>
<body>
  <div id="app"></div>
  <script src="https://cdn.bootcss.com/js-cookie/latest/js.cookie.min.js"></script>
<script type="text/javascript" src="/public/main_cfb6a33e.js"></script></body>
</html>